<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Capacitor share sheet extensions example # 4</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <rd-ios-categories *ngIf="ios"></rd-ios-categories>
    <rd-android-categories *ngIf="android"></rd-android-categories>
  </div>
</ion-content>
